.section-weather {

  &__title {
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 32px;
    margin-top: 15px;
    text-align: center;

    @include sm-screen {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 20px;
    }
  }

  &__note {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #767676;
    @include sm-screen {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__grid {
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  &__location {
    max-width: 825px;
    margin: 0 auto 80px;
  }

  &__item {
    width: calc(25% - 15px);

    @include lg-screen {
      width: calc(33.333% - 15px);
    }

    @include md-screen {
      width: calc(50% - 10px);
    }

    @include xs-screen {
      width: 100%;
    }
  }
}
